<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- версия для разработки, отображает полезные предупреждения в консоли -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body style="display: flex; ">
    <div id="search" style="max-width: 1170px;margin-left: auto;margin-right: auto;padding-left: 16px;padding-right: 16px;">
        <input v-model="message">
        <button v-on:click="open" type="button">Поиск</button>
        <div>
            <table border="1">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Ссылка</th>
                        <th>Картинка</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr v-for="artical in articals" v-if="artical.seen">
                        <td bgcolor="#ddd" style="text-align: center; padding: 5px;">
                            {{ artical.title }}
                        </td>
                        <td>
                            <a v-bind:href="artical.url">
                                {{ artical.url }}
                            </a>
                        </td>
                        <td bgcolor="#ddd" style="text-align: center; padding: 5px;">
                            <img v-bind:src="artical.image" style="height: 40px;">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="./3.js"></script>
</html>